In [1]:
import pandas as pd

In [11]:
whr_2023_df = pd.read_csv("datafiles/WHR2023.csv")

In [12]:
whr_2023_df

,Country name,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,7.804,0.036,7.875,7.733,10.792,0.969,71.150,0.961,-0.019,0.182,1.778,1.888,1.585,0.535,0.772,0.126,0.535,2.363
1,Denmark,7.586,0.041,7.667,7.506,10.962,0.954,71.250,0.934,0.134,0.196,1.778,1.949,1.548,0.537,0.734,0.208,0.525,2.084
2,Iceland,7.530,0.049,7.625,7.434,10.896,0.983,72.050,0.936,0.211,0.668,1.778,1.926,1.620,0.559,0.738,0.250,0.187,2.250
3,Israel,7.473,0.032,7.535,7.411,10.639,0.943,72.697,0.809,-0.023,0.708,1.778,1.833,1.521,0.577,0.569,0.124,0.158,2.691
4,Netherlands,7.403,0.029,7.460,7.346,10.942,0.930,71.550,0.887,0.213,0.379,1.778,1.942,1.488,0.545,0.672,0.251,0.394,2.110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132,Congo (Kinshasa),3.207,0.095,3.394,3.020,7.007,0.652,55.375,0.664,0.086,0.834,1.778,0.531,0.784,0.105,0.375,0.183,0.068,1.162
133,Zimbabwe,3.204,0.061,3.323,3.084,7.641,0.690,54.050,0.654,-0.046,0.766,1.778,0.758,0.881,0.069,0.363,0.112,0.117,0.905
134,Sierra Leone,3.138,0.082,3.299,2.976,7.394,0.555,54.900,0.660,0.105,0.858,1.778,0.670,0.540,0.092,0.371,0.193,0.051,1.221
135,Lebanon,2.392,0.044,2.479,2.305,9.478,0.530,66.149,0.474,-0.141,0.891,1.778,1.417,0.476,0.398,0.123,0.061,0.027,-0.110
136,Afghanistan,1.859,0.033,1.923,1.795,7.324,0.341,54.712,0.382,-0.081,0.847,1.778,0.645,0.000,0.087,0.000,0.093,0.059,0.976

In [13]:
whr_2023_df.columns

Index(['Country name', 'Ladder score', 'Standard error of ladder score',
       'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption', 'Ladder score in Dystopia',
       'Explained by: Log GDP per capita', 'Explained by: Social support',
       'Explained by: Healthy life expectancy',
       'Explained by: Freedom to make life choices',
       'Explained by: Generosity', 'Explained by: Perceptions of corruption',
       'Dystopia + residual'],
      dtype='object')

In [14]:
whr_2023_columns = ['Country name', 'Ladder score', 'Social support', 'Healthy life expectancy',
                   'Freedom to make life choices', 'Generosity', 'Perceptions of corruption']

In [15]:
world_2023_df = pd.read_csv('datafiles/world-data-2023.csv')

In [16]:
world_2023_df.columns

Index(['Country', 'Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Calling Code',
       'Capital/Major City', 'Co2-Emissions', 'CPI', 'CPI Change (%)',
       'Currency-Code', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
       'Largest city', 'Life expectancy', 'Maternal mortality ratio',
       'Minimum wage', 'Official language', 'Out of pocket health expenditure',
       'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
       'Total tax rate', 'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude'],
      dtype='object')

In [10]:
world_2023

,Country,Density\n(P/Km2),Abbreviation,Agricultural Land( %),Land Area(Km2),Armed Forces size,Birth Rate,Calling Code,Capital/Major City,Co2-Emissions,...,Out of pocket health expenditure,Physicians per thousand,Population,Population: Labor force participation (%),Tax revenue (%),Total tax rate,Unemployment rate,Urban_population,Latitude,Longitude
0,Afghanistan,60,AF,58.10%,"652,230","323,000",32.49,93.0,Kabul,"8,672",...,78.40%,0.28,"38,041,754",48.90%,9.30%,71.40%,11.12%,"9,797,273",33.939110,67.709953
1,Albania,105,AL,43.10%,"28,748","9,000",11.78,355.0,Tirana,"4,536",...,56.90%,1.20,"2,854,191",55.70%,18.60%,36.60%,12.33%,"1,747,593",41.153332,20.168331
2,Algeria,18,DZ,17.40%,"2,381,741","317,000",24.28,213.0,Algiers,"150,006",...,28.10%,1.72,"43,053,054",41.20%,37.20%,66.10%,11.70%,"31,510,100",28.033886,1.659626
3,Andorra,164,AD,40.00%,468,NaN,7.20,376.0,Andorra la Vella,469,...,36.40%,3.33,"77,142",NaN,NaN,NaN,NaN,"67,873",42.506285,1.521801
4,Angola,26,AO,47.50%,"1,246,700","117,000",40.73,244.0,Luanda,"34,693",...,33.40%,0.21,"31,825,295",77.50%,9.20%,49.10%,6.89%,"21,061,025",-11.202692,17.873887
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
190,Venezuela,32,VE,24.50%,"912,050","343,000",17.88,58.0,Caracas,"164,175",...,45.80%,1.92,"28,515,829",59.70%,NaN,73.30%,8.80%,"25,162,368",6.423750,-66.589730
191,Vietnam,314,VN,39.30%,"331,210","522,000",16.75,84.0,Hanoi,"192,668",...,43.50%,0.82,"96,462,106",77.40%,19.10%,37.60%,2.01%,"35,332,140",14.058324,108.277199
192,Yemen,56,YE,44.60%,"527,968","40,000",30.45,967.0,Sanaa,"10,609",...,81.00%,0.31,"29,161,922",38.00%,NaN,26.60%,12.91%,"10,869,523",15.552727,48.516388
193,Zambia,25,ZM,32.10%,"752,618","16,000",36.19,260.0,Lusaka,"5,141",...,27.50%,1.19,"17,861,030",74.60%,16.20%,15.60%,11.43%,"7,871,713",-13.133897,27.849332
194,Zimbabwe,38,ZW,41.90%,"390,757","51,000",30.68,263.0,Harare,"10,983",...,25.80%,0.21,"14,645,468",83.10%,20.70%,31.60%,4.95%,"4,717,305",-19.015438,29.154857

In [17]:
world_2023_columns = ['Density\n(P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Co2-Emissions', 'CPI',
        'CPI Change (%)', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
        'Maternal mortality ratio', 'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
        'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude']

In [101]:
regional_df = pd.read_csv('datafiles/regional20052020.csv')

In [102]:
regional_df_columns = ['Regional Indicator',]

In [23]:
business_df = pd.read_csv('datafiles/Start_a_Business_2019.csv')

In [24]:
business_df_columns = ['Starting a Business rank', 'Time - Men (days)', 'Time - Women (days)']

In [27]:
sectors_df = pd.read_csv('datafiles/world_countries_with_sectors.csv')

In [28]:
sectors_columns = ['Agriculture', 'Industry', 'Service']

In [29]:
regimes_df = pd.read_csv('datafiles/political-regime.csv')

In [30]:
regimes_columns = ['Political regime',]

In [34]:
regimes_df.Year.max()

2022

In [41]:
latest_regimes = regimes_df[regimes_df['Year'] == 2022][['Entity', 'Political regime']]

In [42]:
latest_regimes.reset_index(inplace=True, drop=True)

In [44]:
regime_names = ['closed autocracy', 'electoral autocracy', 'electoral democracy', 'liberal democracy']

In [45]:
latest_regimes.replace([0,1,2,3], regime_names, inplace=True)

In [56]:
latest_regimes.rename(columns={'Entity': 'Country'}, inplace=True)

In [95]:
combined_df = whr_2023.copy()

In [96]:
combined_df = combined_df[['Country name', 'Ladder score', 'Standard error of ladder score',
'upperwhisker', 'lowerwhisker', 'Logged GDP per capita',
       'Social support', 'Healthy life expectancy',
       'Freedom to make life choices', 'Generosity',
       'Perceptions of corruption']]

In [97]:
combined_df.rename(columns = {
    'Country name': 'Country',
    'upperwhisker': 'Ladder score upper whisker',
    'lowerwhisker': 'Ladder score lower whisker',
    'Standard error of ladder score': 'Ladder score standard error',
    'Freedom to make life choices': 'Freedom',
    'Perceptions of corruption': 'Corruption perception',
    'Healthy life expectancy': 'Life expectancy'
}, inplace=True)

In [125]:
combined_df = combined_df.merge(latest_regimes, on='Country', how='left')

In [75]:
world_2023_columns = ['Country', 'Density (P/Km2)', 'Abbreviation', 'Agricultural Land( %)',
       'Land Area(Km2)', 'Armed Forces size', 'Birth Rate', 'Co2-Emissions', 'CPI',
        'CPI Change (%)', 'Fertility Rate', 'Forested Area (%)',
       'Gasoline Price', 'GDP', 'Gross primary education enrollment (%)',
       'Gross tertiary education enrollment (%)', 'Infant mortality',
        'Maternal mortality ratio', 'Physicians per thousand', 'Population',
       'Population: Labor force participation (%)', 'Tax revenue (%)',
        'Unemployment rate', 'Urban_population', 'Latitude',
       'Longitude']

In [72]:
world_2023_df.rename(columns={
    'Density\n(P/Km2)' : 'Density (P/Km2)',
}, inplace=True)

In [76]:
world_2023_filtered = world_2023_df[[*world_2023_columns]]

In [124]:
combined_df = combined_df.merge(world_2023_filtered, on='Country', how='left')

In [103]:
regional_df.rename(columns={'Country Name': 'Country'}, inplace=True)

In [92]:
regional_df.columns

Index(['Country', 'Regional Indicator', 'Year', 'Life Ladder',
       'Log GDP Per Capita', 'Social Support',
       'Healthy Life Expectancy At Birth', 'Freedom To Make Life Choices',
       'Generosity', 'Perceptions Of Corruption', 'Positive Affect',
       'Negative Affect', 'Confidence In National Government'],
      dtype='object')

In [105]:
regional_df_filtered = regional_df[regional_df['Year'] == 2022][['Country', *regional_df_columns]]

In [107]:
regional_df_filtered.reset_index(inplace=True, drop=True)

In [126]:
combined_df = combined_df.merge(regional_df_filtered, on='Country', how='left')

In [ ]:
# business_df_columns = ['Starting a Business rank', 'Time - Men (days)', 'Time - Women (days)']

In [110]:
business_df.columns

Index(['Location', 'Region', 'Starting a Business rank',
       'Starting a Business score', 'Procedure – Men (number)',
       'Time – Men (days)', 'Cost – Men (% of income per capita)',
       'Procedure – Women (number)', 'Time – Women (days)',
       'Cost – Women (% of income per capita)',
       'Paid-in min. capital (% of income per capita)', 'Income Level', 'GNI'],
      dtype='object')

In [111]:
business_df

,Location,Region,Starting a Business rank,Starting a Business score,Procedure – Men (number),Time – Men (days),Cost – Men (% of income per capita),Procedure – Women (number),Time – Women (days),Cost – Women (% of income per capita),Paid-in min. capital (% of income per capita),Income Level,GNI
0,New Zealand,Oceania,1,100.0,1,0.5,0.2,1,0.5,0.2,0.0,High income,40820
1,Georgia,Asia,2,99.6,1,1.0,2.1,1,1.0,2.1,0.0,Upper middle income,4130
2,Canada,Americas,3,98.2,2,1.5,0.3,2,1.5,0.3,0.0,High income,44860
3,"Hong Kong SAR, China",Asia,3,98.2,2,1.5,0.5,2,1.5,0.5,0.0,High income,50310
4,Singapore,Asia,3,98.2,2,1.5,0.4,2,1.5,0.4,0.0,High income,58770
...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Chad,Africa,131,52.5,8,58.0,169.3,8,58.0,169.3,25.3,Low income,670
187,Cambodia,Asia,132,52.4,9,99.0,53.4,9,99.0,53.4,70.2,Lower middle income,1380
188,Somalia,Africa,133,46.0,9,70.0,198.2,9,70.0,198.2,0.0,Low income,454
189,Haiti,Americas,134,36.4,12,97.0,179.7,12,97.0,179.7,11.0,Low income,800
190,"Venezuela, RB",Americas,135,25.0,20,230.0,211.8,20,230.0,211.8,0.0,Upper middle income,5816

In [113]:
business_df.rename(columns={
  'Location': 'Country',
  'Time – Men (days)' :'Business days Men',
  'Time – Women (days)' :'Business days Women'
}, inplace=True)

In [114]:
business_df_columns = ['Starting a Business rank', 'Business days Men',
                       'Business days Women']

In [115]:
business_df_filtered = business_df[['Country', *business_df_columns]]

In [127]:
combined_df = combined_df.merge(business_df_filtered, on='Country', how='left')

In [117]:
sectors_df.columns

Index(['Country', 'Code', 'Region', 'Population', 'Area', 'Pop. Density',
       'Coastline', 'Net migration', 'Infant mortality', 'GDP', 'Literacy',
       'Phones', 'Arable', 'Crops', 'Other', 'Climate', 'Birthrate',
       'Deathrate', 'Agriculture', 'Industry', 'Service'],
      dtype='object')

In [119]:
sectors_columns = ['Country', *sectors_columns, 'Literacy']
sectors_columns

['Country', 'Agriculture', 'Industry', 'Service', 'Literacy']

In [120]:
sectors_df_filtered = sectors_df[[*sectors_columns]]

In [128]:
combined_df = combined_df.merge(sectors_df_filtered, on='Country', how='left')

In [129]:
combined_df.to_csv('datafiles/combined_df_2023.csv')