In [1]:
import pandas as pd

In [2]:
df_path = 'dataframes/with_counts/combined_count.csv'

In [3]:
df = pd.read_csv(df_path, index_col=0)

In [4]:
df.head()

,Artist,Song Title,Full Title,Release Date,Year,Month,Day,Pageviews,url,featured_count,...,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB,genre,emotion
0,Aaliyah,Are You That Somebody?,Are You That Somebody? by Aaliyah (Ft. Timbaland),1998-05-26,1998.0,5.0,26.0,373960,https://genius.com/Aaliyah-are-you-that-somebo...,1,...,5,4,26,14,1,1,1,1,pop,sadness
1,Aaliyah,Enough Said,Enough Said by Aaliyah (Ft. Drake),2012-08-05,2012.0,8.0,5.0,316333,https://genius.com/Aaliyah-enough-said-lyrics,1,...,5,4,26,14,1,1,1,1,pop,anger
2,Aaliyah,At Your Best (You Are Love),At Your Best (You Are Love) by Aaliyah,1994-08-22,1994.0,8.0,22.0,285549,https://genius.com/Aaliyah-at-your-best-you-ar...,0,...,5,4,26,14,1,1,1,1,pop,sadness
3,Aaliyah,Miss You,Miss You by Aaliyah,2002-11-16,2002.0,11.0,16.0,245608,https://genius.com/Aaliyah-miss-you-lyrics,0,...,5,4,26,14,1,1,1,1,pop,sadness
4,Aaliyah,Age Ain’t Nothing But a Number,Age Ain't Nothing But a Number by Aaliyah,1994-12-06,1994.0,12.0,6.0,207419,https://genius.com/Aaliyah-age-aint-nothing-bu...,0,...,5,4,26,14,1,1,1,1,pop,joy

In [5]:
df.describe()

,Year,Month,Day,Pageviews,featured_count,producer_count,writer_count,unique_words,total_words,manual_love_count,...,VB,VBD,VBG,VBN,VBP,VBZ,WDT,WP,WP$,WRB
count,794.000000,751.000000,686.000000,8.000000e+02,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,...,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0,800.0
mean,1994.491184,6.777630,16.482507,7.001623e+05,0.226250,1.636250,3.235000,148.746250,360.000000,5.510000,...,33.0,5.0,5.0,4.0,26.0,14.0,1.0,1.0,1.0,1.0
std,19.263568,3.174453,8.456612,1.464868e+06,0.585653,1.097927,2.763027,98.302154,72.826022,9.094547,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
min,1957.000000,1.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000,17.000000,257.000000,0.000000,...,33.0,5.0,5.0,4.0,26.0,14.0,1.0,1.0,1.0,1.0
25%,1973.000000,4.000000,10.000000,4.612650e+04,0.000000,1.000000,1.000000,84.000000,318.500000,0.000000,...,33.0,5.0,5.0,4.0,26.0,14.0,1.0,1.0,1.0,1.0
50%,1998.000000,7.000000,16.000000,1.501105e+05,0.000000,1.000000,2.000000,110.500000,363.000000,2.000000,...,33.0,5.0,5.0,4.0,26.0,14.0,1.0,1.0,1.0,1.0
75%,2013.000000,9.000000,24.000000,6.130362e+05,0.000000,2.000000,4.000000,178.500000,404.500000,7.000000,...,33.0,5.0,5.0,4.0,26.0,14.0,1.0,1.0,1.0,1.0
max,2023.000000,12.000000,31.000000,1.890052e+07,5.000000,10.000000,19.000000,675.000000,457.000000,86.000000,...,33.0,5.0,5.0,4.0,26.0,14.0,1.0,1.0,1.0,1.0

TODO: some more dataframe combinations etc  
eg. group_stats_sum is splti by genres rn, would be useful to have one complete file

In [10]:
genres = ['soul', 'rock', 'rap', 'pop']

In [11]:
combined_df = pd.DataFrame()
for genre in genres:
    g_path = f'dataframes/group_stats/sum/{genre}_10.csv'
    g_df = pd.read_csv(g_path)
    combined_df = pd.concat([combined_df, g_df])
combined_df.reset_index(inplace=True, drop=True)
combined_df.head()

,Artist,manual_love_count,manual_money_count,manual_violence_count,manual_drugs_count,manual_gendered_count,manual_sadness_count,manual_joy_count,manual_yes_count,manual_no_count,...,writer_count,manual_love_word_percent,manual_money_word_percent,manual_violence_word_percent,manual_drugs_word_percent,manual_gendered_word_percent,manual_sadness_word_percent,manual_joy_word_percent,manual_yes_word_percent,manual_no_word_percent
0,Al Green,212,1,1,0,452,6,21,15,98,...,36,4.298,0.020,0.020,0.000,9.165,0.122,0.426,0.304,1.987
1,Aretha Franklin,184,5,4,0,462,7,60,44,108,...,32,2.991,0.081,0.065,0.000,7.511,0.114,0.975,0.715,1.756
2,Clarence Carter,122,7,3,0,579,4,9,11,147,...,35,2.227,0.128,0.055,0.000,10.568,0.073,0.164,0.201,2.683
3,Curtis Mayfield,66,10,11,2,773,4,35,12,145,...,23,1.060,0.161,0.177,0.032,12.414,0.064,0.562,0.193,2.329
4,Marvin Gaye,289,7,1,0,583,4,19,13,139,...,41,4.511,0.109,0.016,0.000,9.101,0.062,0.297,0.203,2.170

In [12]:
combined_df.columns

Index(['Artist', 'manual_love_count', 'manual_money_count',
       'manual_violence_count', 'manual_drugs_count', 'manual_gendered_count',
       'manual_sadness_count', 'manual_joy_count', 'manual_yes_count',
       'manual_no_count', 'unique_words', 'total_words', 'featured_count',
       'producer_count', 'writer_count', 'manual_love_word_percent',
       'manual_money_word_percent', 'manual_violence_word_percent',
       'manual_drugs_word_percent', 'manual_gendered_word_percent',
       'manual_sadness_word_percent', 'manual_joy_word_percent',
       'manual_yes_word_percent', 'manual_no_word_percent'],
      dtype='object')

In [13]:
combined_df.to_csv('dataframes/group_stats/sum/combined_artists.csv')

In [15]:
combined_df.describe()

,manual_love_count,manual_money_count,manual_violence_count,manual_drugs_count,manual_gendered_count,manual_sadness_count,manual_joy_count,manual_yes_count,manual_no_count,unique_words,...,writer_count,manual_love_word_percent,manual_money_word_percent,manual_violence_word_percent,manual_drugs_word_percent,manual_gendered_word_percent,manual_sadness_word_percent,manual_joy_word_percent,manual_yes_word_percent,manual_no_word_percent
count,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,...,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000,40.000000
mean,110.200000,20.925000,23.650000,3.075000,827.350000,12.700000,20.200000,18.675000,195.825000,2974.925000,...,64.700000,1.549875,0.198000,0.249725,0.032700,10.155500,0.142050,0.276975,0.254200,2.539700
std,73.552423,25.971767,28.436659,5.249603,434.563828,14.641353,15.179608,11.507829,84.149405,1684.479991,...,41.947586,1.196068,0.180847,0.210570,0.060954,1.758505,0.144215,0.217486,0.144873,0.690446
min,0.000000,0.000000,1.000000,0.000000,345.000000,0.000000,1.000000,6.000000,80.000000,1367.000000,...,23.000000,0.000000,0.000000,0.016000,0.000000,6.296000,0.000000,0.027000,0.065000,1.479000
25%,49.250000,3.750000,4.000000,0.000000,510.500000,4.000000,10.500000,11.750000,137.250000,1805.250000,...,34.750000,0.638000,0.073250,0.062500,0.000000,9.116750,0.067000,0.141250,0.180500,2.147750
50%,100.000000,8.000000,12.500000,0.000000,676.500000,7.000000,16.000000,16.000000,169.000000,2220.000000,...,55.500000,1.138500,0.137500,0.210000,0.000000,9.820500,0.098500,0.220000,0.212500,2.380000
75%,160.250000,27.750000,33.000000,5.000000,1088.000000,16.500000,25.000000,21.250000,254.250000,3458.000000,...,84.000000,2.008000,0.282250,0.381000,0.045750,11.390750,0.140750,0.355750,0.274750,2.885500
max,289.000000,84.000000,135.000000,21.000000,1701.000000,60.000000,72.000000,63.000000,389.000000,6815.000000,...,252.000000,4.511000,0.650000,0.783000,0.325000,14.181000,0.710000,0.986000,0.715000,5.075000

In [ ]:
metric_col = 'manual_love_count

In [18]:
df[df['manual_love_count'] == max(df['manual_love_count'])]

Empty DataFrame
Columns: [Artist, Song Title, Full Title, Release Date, Year, Month, Day, Pageviews, url, featured_count, producer_count, writer_count, Song Lyrics, Artist Image, gender, unique_words, total_words, manual_love_count, manual_money_count, manual_violence_count, manual_drugs_count, manual_gendered_count, manual_sadness_count, manual_joy_count, manual_yes_count, manual_no_count, manual_love_word_percent, manual_money_word_percent, manual_violence_word_percent, manual_drugs_word_percent, manual_gendered_word_percent, manual_sadness_word_percent, manual_joy_word_percent, manual_yes_word_percent, manual_no_word_percent, sentiment, CC, CD, DT, EX, FW, IN, JJ, JJR, JJS, LS, MD, NN, NNS, NNP, NNPS, PDT, POS, PRP, PRP$, RB, RBR, RBS, RP, TO, UH, VB, VBD, VBG, VBN, VBP, VBZ, WDT, WP, WP$, WRB, genre, emotion]
Index: []

[0 rows x 73 columns]