In [1]:
import pandas as pd
import plotly.express as px

In [2]:
df_path = 'dataframes/artist_ngrams.csv'

In [3]:
df = pd.read_csv(df_path, index_col = 0)

In [4]:
df.head()

,Artist,genre,gender,ngram_2,ngram_3,ngram_4
0,Aaliyah,pop,female,"[(('let', 'me'), 80), (('without', 'you'), 76)...","[(('let', 'me', 'see'), 42), (('me', 'see', 'y...","[(('let', 'me', 'see', 'you'), 41), (('baby', ..."
1,Beyoncé,pop,female,"[(('in', 'the'), 51), (('love', 'you'), 49), (...","[(('you', 'like', 'i'), 27), (('sorry', 'i', '...","[(('they', 'dont', 'love', 'you'), 24), (('don..."
2,Britney Spears,pop,female,"[(('get', 'it'), 49), (('you', 'want'), 47), (...","[(('it', 'get', 'it'), 38), (('get', 'it', 'ge...","[(('get', 'it', 'get', 'it'), 36), (('you', 'w..."
3,Carly Rae Jepsen,pop,female,"[(('gimmie', 'love'), 75), (('love', 'gimmie')...","[(('gimmie', 'love', 'gimmie'), 69), (('love',...","[(('gimmie', 'love', 'gimmie', 'love'), 63), (..."
4,Charli XCX,pop,female,"[(('it', 'i'), 273), (('i', 'got'), 192), (('g...","[(('i', 'got', 'it'), 186), (('got', 'it', 'i'...","[(('got', 'it', 'i', 'got'), 177), (('i', 'got..."

#### ========== tests ==============

In [5]:
test_ng = df['ngram_2'][0]

In [6]:
# test_ng = list(test_ng)

In [7]:
test_ng

"[(('let', 'me'), 80), (('without', 'you'), 76), (('see', 'you'), 56), (('i', 'dont'), 51), (('it', 'baby'), 47), (('what', 'you'), 44), (('and', 'forth'), 44), (('me', 'see'), 43), (('come', 'over'), 42), (('for', 'you'), 40), (('you', 'i'), 39), (('tell', 'me'), 38), (('dont', 'wanna'), 38), (('try', 'again'), 38), (('step', 'to'), 37), (('can', 'i'), 36), (('love', 'it'), 36), (('baby', 'love'), 35), (('to', 'step'), 35), (('for', 'me'), 33)]"

In [8]:
test_ng.split()

["[(('let',",
 "'me'),",
 '80),',
 "(('without',",
 "'you'),",
 '76),',
 "(('see',",
 "'you'),",
 '56),',
 "(('i',",
 "'dont'),",
 '51),',
 "(('it',",
 "'baby'),",
 '47),',
 "(('what',",
 "'you'),",
 '44),',
 "(('and',",
 "'forth'),",
 '44),',
 "(('me',",
 "'see'),",
 '43),',
 "(('come',",
 "'over'),",
 '42),',
 "(('for',",
 "'you'),",
 '40),',
 "(('you',",
 "'i'),",
 '39),',
 "(('tell',",
 "'me'),",
 '38),',
 "(('dont',",
 "'wanna'),",
 '38),',
 "(('try',",
 "'again'),",
 '38),',
 "(('step',",
 "'to'),",
 '37),',
 "(('can',",
 "'i'),",
 '36),',
 "(('love',",
 "'it'),",
 '36),',
 "(('baby',",
 "'love'),",
 '35),',
 "(('to',",
 "'step'),",
 '35),',
 "(('for',",
 "'me'),",
 '33)]']

In [9]:
import ast

In [10]:
ng_ast = ast.literal_eval(test_ng)

In [11]:
ng_ast

[(('let', 'me'), 80),
 (('without', 'you'), 76),
 (('see', 'you'), 56),
 (('i', 'dont'), 51),
 (('it', 'baby'), 47),
 (('what', 'you'), 44),
 (('and', 'forth'), 44),
 (('me', 'see'), 43),
 (('come', 'over'), 42),
 (('for', 'you'), 40),
 (('you', 'i'), 39),
 (('tell', 'me'), 38),
 (('dont', 'wanna'), 38),
 (('try', 'again'), 38),
 (('step', 'to'), 37),
 (('can', 'i'), 36),
 (('love', 'it'), 36),
 (('baby', 'love'), 35),
 (('to', 'step'), 35),
 (('for', 'me'), 33)]

In [12]:
' '.join(ng_ast[0][0])

'let me'

In [13]:
grams = []
counts = []
for gram in ng_ast:
    text = ' '.join(gram[0])
    grams.append(text)
    counts.append(gram[1])

print(grams)
print(counts)

['let me', 'without you', 'see you', 'i dont', 'it baby', 'what you', 'and forth', 'me see', 'come over', 'for you', 'you i', 'tell me', 'dont wanna', 'try again', 'step to', 'can i', 'love it', 'baby love', 'to step', 'for me']
[80, 76, 56, 51, 47, 44, 44, 43, 42, 40, 39, 38, 38, 38, 37, 36, 36, 35, 35, 33]

In [14]:
len(grams)

20

#### ========== end tests ===========

In [15]:
ngram_lens = [2,3,4]
grams_len = len(grams)
ngrams_cols = []
ngrams_count_cols = []

for n_len in ngram_lens:
    for n in range(grams_len):
        grams_name = f'ngram_{n_len}_{n}'
        grams_count_name = f'count_{n_len}_{n}'
        
        ngrams_cols.append(grams_name)
        ngrams_count_cols.append(grams_count_name)

cols = [*ngrams_cols, *ngrams_count_cols]

In [16]:
len(cols)

120

In [17]:
artists = list(df['Artist'].unique())

In [18]:
len(artists)

40

In [19]:
# prepare empty rows
for col in cols:
    df[col] = None

C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None
C:\Users\User\AppData\Local\Temp\ipykernel_1128\2035638503.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df[col] = None

In [20]:
df.columns

Index(['Artist', 'genre', 'gender', 'ngram_2', 'ngram_3', 'ngram_4',
       'ngram_2_0', 'ngram_2_1', 'ngram_2_2', 'ngram_2_3',
       ...
       'count_4_10', 'count_4_11', 'count_4_12', 'count_4_13', 'count_4_14',
       'count_4_15', 'count_4_16', 'count_4_17', 'count_4_18', 'count_4_19'],
      dtype='object', length=126)

In [21]:
# please = ''
for artist in artists:
    grams_row = df[df['Artist'] == artist]
    # print(grams_row)
    grams_row.reset_index(inplace=True, drop=True)
    for n_len_index, n_len in enumerate(ngram_lens):
        grams_str = grams_row[f'ngram_{n_len}'][0]
        # please = grams_str
        grams_list = ast.literal_eval(grams_str)
        for n in range(grams_len):
            gram_text = ' '.join(grams_list[n][0])
            gram_count = grams_list[n][1]
            calc_index = 20 * (n_len_index) + n
            # print(calc_index)
            grams_row[ ngrams_cols[calc_index] ] = gram_text
            grams_row[ ngrams_count_cols[calc_index] ] = gram_count

    df[df['Artist'] == artist] = grams_row

C:\Users\User\AppData\Local\Temp\ipykernel_1128\681512402.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grams_row[ ngrams_cols[calc_index] ] = gram_text
C:\Users\User\AppData\Local\Temp\ipykernel_1128\681512402.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grams_row[ ngrams_count_cols[calc_index] ] = gram_count

In [22]:
df.head()

,Artist,genre,gender,ngram_2,ngram_3,ngram_4,ngram_2_0,ngram_2_1,ngram_2_2,ngram_2_3,...,count_4_10,count_4_11,count_4_12,count_4_13,count_4_14,count_4_15,count_4_16,count_4_17,count_4_18,count_4_19
0,Aaliyah,pop,female,"[(('let', 'me'), 80), (('without', 'you'), 76)...","[(('let', 'me', 'see'), 42), (('me', 'see', 'y...","[(('let', 'me', 'see', 'you'), 41), (('baby', ...",let me,without you,see you,i dont,...,25,25,25,23,22,22,21,21,20,18
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN